html, body {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
}

._draggable_list {
    padding: 0;
}

._draggable_list_item {
    list-style: none;
    background: #ddd;
    border: 1px solid #888;
    padding: 10px 20px;
    min-width: 200px;
}